<div class="row justify-space-between-md">
  <div class="post-card">
    <h2 class="page-title">What would you like to post</h2>
    <form class="form post-form">
      <div class="form-group">
        <label for="user-post">Post:</label>
        <input class="form-input" type="text" id="user-post" />
      </div>
      <div class="form-group">
        <button
          id="postBtn"
          class="btn btn-primary"
          type="submit"
        >Post!</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/addpost.js"></script>