<div class='menu-container'>
  <div class='card-header col-md-10'>
    <h2>
      &#127869 All Posts
  </div>
  {{#each posts as |post|}}
  <div class="post col-md-4">
    <div>
      {{post.post_username}}
      {{post.created_at}}
    </div>
    <p>{{post.content}}</p>
  </div>
  {{/each}}
</div>

